@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #1f1e1e;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}


*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

html{
    scroll-behavior: smooth;
     }

/* header */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

.item{
    padding: 1rem;
}
.menu a{
    color: var(--blanco);
    text-decoration: none;
}
.Iniciar{
    background-color: var(--azuloscuro);
    padding: 0.5rem 1rem;
    color: var(--blanco);
    border-radius: 5px;
    font-family: 'Marcellus', serif;
    font-size: 1em;
}
.menu i{
    margin-right: 0.5rem;
}
.logo img{
    height: 3rem;
}

/* Cuerpo */


.contenedor1{
    display: flex;
    align-items: flex-end;
}

.contenedor1 img{
    width: 100%;
}

.contenedor1 .text{
    width: 60%;
    margin: 0.5%;
    font-size: 50px;
    padding: 3%;
    color: #fff;
    font-family: roboto;
    margin-left: -99.5%;
    background: linear-gradient(to right, rgb(0,0,0,0.5), rgb(0,0,0,0));
}

.reserva{
    background-color: var(--Magenta);
    width: 3%;
    height: 200px;
    margin-left: 97%;
    margin-top: 10%;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Playfair Display;
}

.reserva p{
    color: #fff;
    font-size: 20px;
}

.contenedor2{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}

.contenedor2 .texto2{
    font-size: 20px;
    width: 55%;
    margin-top: 7%;
}

.contenedor2 img{
    width: 15%;
    margin-top: 7%;
    margin-bottom: 7%;
}



#features{
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top: 1rem;
    width: 100%;
    height: 250px;
}

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 3% 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}

.feature-black{
    background-color: rgba(0,0,0,0.59);
}


#contenedor3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor3 h1{
    margin-top: 4%;
    font-size: 50px;
}

#contenedor3 iframe{
    margin-top: 1%;
    width: 97%;
    height: 300px;
}

#contenedor3 h2{
    margin-top: 2%; 
}

#contenedor3 .linea{
    width: 50%;
    background-color: #306da7;
    height: 1px;
}

#contenedor3 .numero{
    margin-bottom: 3%;
}



/*contenedor4*/

#contenedor4 .encabezado{
    display: flex;
}

.encabezado img{
    width: 100%;
}

.encabezado h1{
    margin-left: -72%;
    margin-top: 3%;
    font-size: 50px;
    color: #fff;
}

.comentarios{
    display: flex;
    justify-content: space-evenly;
    margin-top: -5%;
    margin-bottom: 10%;
}

.comentarios .comentario{
    background: linear-gradient(to right, #25587a, #0C3C59);
    width: 30%;
    height: 23%;
}

.comentario .cosas{
    display: flex;
}

.comentario img{
    width: 100%;
    height: 20%;
}

.cosas .foto{
    width: 20%;
    border-radius: 40px;
    margin-left: -95%;
    margin-top: 5%;
}

.cosas h2{
    font-size: 20px;
    color: white;
    margin: 8% 5%;
}

.cosas .estrellas{
    width: 40%;
    margin-left: -44%;
    margin-top: 15%;
}

.cosas .estrellas2{
    width: 40%;
    margin-left: -35%;
    margin-top: 15%;
}

.comentario p{
    padding: 4% 6%;
    color: #fff;
}

footer{
    background-color: var(--negro);
    color: #fff;
    display: flex;
}

footer i{
    font-size: 30px;
    margin-left: 5%;
}

footer .texto{
    width: 30%;
    padding: 2% 4%;
}

.texto p{
    font-size: 20px;
    margin-bottom: 5%;
}


footer .ubi{
    width: 35%;
}

footer .ubi2{
    display: flex;
    margin-top: 7%;
}

footer .ubi2 p{
    margin: 0% 3%;
    font-size: 20px;
}

footer .politicas p{
    margin: 15% 30%;
    width: 100%;
    font-size: 20px;
}

